$maincolor:#eeeeee;
$contentcolor:#fafafa;
$background_color:#ee6e73;
$hovercolor:#757575;
$lightblue:#64b5f6 ;
body{
	background-color:$maincolor;
}
.navigation_bar{
	padding: 0 100px 0 100px;	
}

.profile_info{
	background-image: url(https://cdn.kastatic.org/images/profile/backgrounds/bg-photon-2.jpg
) ;
	background-size: cover;

	.prof{
		height: 170px;
		color:white;
		margin-left: 120px;

		div:last-child{
			margin-left: 10px;
			h5,p,span{
				margin-bottom: 7px;
			}
			span{
				font-size: 15px;
				color:gray;
			}
		}
	}
	img{
		width: 120px;
		height: 120px;
		border: 5px solid gray;
		border-radius:20px;
	}

}

.nav_content{
	height:40px;
	border-bottom:1px solid gray;
	.nav_content_box{
		height: 100%;
		margin:auto;
	div{
			width: 80px;
			height: 100%;
			margin-right: 20px;
			display: inline-block;
			margin:auto 0;
	}
	div:hover{
		color: #689f38;
		border-bottom:2px solid #689f38;
		}
	}
}

.content{
	
	.container{
		margin-top: 20px;
		.content_box{
			padding-bottom:30px;
		}
		.card-content{
			padding: 10px 20px;
			border-bottom:2px solid $maincolor;
		}
		.achivement{
			margin: 12px;
		    width: 94%;
		    height: 100px;
		    display: inline-block;
			.achivement_box{
			    width: 18%;
			    height: 100%;
			    margin: 0 2px;
			    border-radius:5px;
			    background-color: $maincolor;
			    display: inline-block;
			    p{
			    	margin-top:7px;
			    	margin-bottom:8px;
			    }
			img{
				width: 80%;
				height: 50%;
				}
				text-align: center;
			}

		}
		.badges{
			height: 115px;
		}
		td, th {
		    padding: 2px 16px;
		    display: table-cell;
		    text-align: left;
		    vertical-align: middle;
		    border-radius: 2px;
		}
		
	}
	
}

.footer{
	
	.container{
		width: 80%;
		// height: 100%;

	}
	h5{
		color:black;
	}
	li{
		font-size: 12px;
		margin:5px;
		margin-left: 0px;
	}

.page-footer{
	margin-top:0px;
	.footer-copyright{

		height: 100px;
		line-height:12px;
		div{
			margin-top: 20px;
		}
		span{
			margin-top: 20px;
			margin-right: 15px;
		}


	}
	// background-color:$contentcolor;
}
}

// topic page.....................................

.topic_name{
	width:100%;
	height: 130px;
	background-color:$background_color;
	border-top:1px solid $maincolor;
	h2{
		color: white;
		text-align: center;
	}
}

.body_content{
	background-color:$contentcolor;
	.container{
		width: 85%;
		// border:2px solid blue;
		.default_row{
			width: 100%;
			padding:40px 0px;
			border-bottom:2px solid $maincolor;
		}
		// .recommended{
		// 	.row{
		// 		div{
		// 			width: 19%;
		// 			display: inline-block;
		// 			margin-left: 5px;
		// 			margin-top: 0px;
		// 			div{
		// 				width:100%;
		// 				height: 20%;
		// 				background-color:black;
		// 			}

		// 		}
		// 	}
		// }

		.recommended{
			.row{
				div{
					margin-right: 25px;
					margin-top: 0px;
					div{
						width:115%;
						height: 115px;
						background-color:black;
					}

				}
			}
		}
		.intro{	
				button{
					background-color: transparent;
					color: $lightblue ;
					border:1px solid ;
					border-radius:3px;
					font-size: 12px;
					padding:9px;
				}
				button:hover{
					color: $hovercolor ;
					border:1px solid $hovercolor  ;
				}
		}
		.content_1{
			img{
				width: 70%;
			    height: 9%;
			    border-radius: 65%;
			}
			a{
				display: block;
				color:$hovercolor;
			}
			.col:hover{
				color:$lightblue;
			}
			a:hover{
				text-decoration: underline;
				color:$lightblue ;
				}
		}
		.question{
			span{
				margin-left: 10px;
			}
		}

	}
}